<div class="container">
  <h1 class="text-center text-danger">Crias Motos</h1>
</div>
<div class="container">
</div>

<hr>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://s2.glbimg.com/E1QFIWohQRaYApPLmnoBtPk9g-g=/696x390/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/5/X/9MvFUeRRCEXGwXp1BmhA/20-xl883n-r-v3-int.jpg" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.harley-davidson.com/content/dam/h-d/images/product-images/bikes/motorcycle/2022/2022-fat-boy-114/2022-fat-boy-114-f65/360/2022-fat-boy-114-f65-motorcycle-01.jpg?impolicy=myresize&rw=1600" class="d-block w-50" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://as.sobrenet.pt/s/image/tsr/brandm/content/x1050/42int3jwdjrrni5gr0ujt4jfha2.jpg" class="d-block w-50" alt="...">
    </div>
  </div>
</div>

<h1>Conheça nossas motos!</h1>

<div class="container">
  <div class="row">
    <div class="col align-self-start">
     <img src="https://motonewsbrasil.com/wp-content/uploads/2021/06/2021-triumph-speed-twin-12.jpg" class="img-fluid" style="margin-left: 25px;" alt="Image" height="900" width="900">
     Triumph Street Twin-R$ 42.790
    </div>
    <div class="col align-self-center">
      <img src="https://cdn.motor1.com/images/mgl/1AMQw/s1/ducati-panigale-v4-speciale.webp" class="img-fluid" style="margin-left: 40px;" alt="Image" height="900" width="900">
      Ducati Panigale V4-R$ 159.990
    </div>
    <div class="col align-self-end">
      <img src="https://www.motoo.com.br/fotos/2018/10/960_720/yamaha_mt-07_2019_1_11102018_2227_960_720.jpg" class="img-fluid" style="margin-left: 40px;" alt="Image" height="900" width="900">
      Yamaha MT-07-R$ 35.490
    </div>
  </div>
</div>

